@font-face {
    font-family: SpotifyMix;
    src: url('SpotifyMix-Medium.woff2') format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: SpotifyMix;
    src: url('SpotifyMix-Bold.woff2') format("woff2");
    font-weight: 700;
    font-style: normal;
}

[data-baseweb="select"] {
  max-height: 92px;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*:not(span){
    font-family: SpotifyMix, "Source Sans Pro" !important;
    --gdg-editor-font-size: 18px !important;
}
