@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@font-face {
    font-family: SpotifyMix;
    src: url('/media/SpotifyMix-Medium.woff2') format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: SpotifyMix;
    src: url('/media/SpotifyMix-Bold.woff2') format("woff2");
    font-weight: bold;
    font-style: normal;
}

[data-baseweb="select"] {
  max-height: 92px;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*:not(span){
    font-family: SpotifyMix, "Source Sans Pro" !important;
    --gdg-editor-font-size: 18px !important;
}
